
.header {
    display: flex;
    margin-bottom: 8px;
    grid-area: h;
    background-color: aqua;
    border: solid 2px black;
    border-radius: 2px;

}

.logoIcon {
  /*  flex-direction: row;*/
    width: 68px;
}

.titleHeader {
   margin: 0 auto;
   /* flex-direction: row;*/
    color: black;
}