.nav{
	grid-area: n;
	background-color: #199168;
	border: solid 1px black ;
	border-radius: 2px;
	padding: 20px;
 }
 
 .item a{
	 color: aliceblue;
	 text-decoration: none;
 }
.item a:hover {

	border-radius: 5px;
	border: solid 1px #b1f1fc;
	background: #477377;
	transition: background 0.5s ease;
}

 .item a.activeLink {
	 color: gold;

	 border-radius: 5px;
	 border: solid 1px black;
	 background: #477377;
	 transition: background 0.5s ease;
 }
